<h1>Blog列表</h1>
<button><%= link_to "新增課程", new_blog_path%></button>
<section class="blog-list">
  <% @blogs.each do |blog|%>
      <div>名稱：<%= blog.title %></div>
      <div>簡介：<%= blog.content %></div>
      <div><%= link_to "詳細內容", blog_path(blog) %></div>
      <div><%= link_to "編輯", edit_blog_path(blog) %></div>
      <div><%= link_to "刪除", blog_path(blog), method: 'delete', data: { confirm: '確認刪除？' } %></div>
  <% end %>
</section>