<h1>部落格列表</h1>
<button><%= link_to "新增部落格", new_blog_path%></button>
<section class="blog-list">
  <% @blogs.each do |blog|%>
      <div>名稱：<%= blog.title %></div>
      <div>簡介：<%= blog.content %></div>
      <div><%= link_to "進入部落格", blog_path(blog) %></div>
      <div><%= link_to "管理人員", blog_user_blogs_path(blog) %></div>
      <div><%= link_to "編輯", edit_blog_path(blog) %></div>
      <div><%= link_to "刪除", blog_path(blog), method: 'delete', data: { confirm: '確認刪除？' } %></div>
  <% end %>
</section>