<h1>新增文章</h1>
<%#= render "form", article: @article, btn_label:"新增文章"%>
<%= form_with(model: [ :blog, @article ]) do |form| %>
<div class="article-field">
  <%= form.label :title, "文章標題" %>
  <%= form.text_field :title %>
</div>
<div class="article-field">
  <%= form.label :content, "文章內容" %>
  <%= form.text_area :content %>
</div>
<div class="article-field">
  <%= form.radio_button :status,"true" %>
  <%= form.label :status,"公開"%>
  <%= form.radio_button :status, "false" %>
  <%= form.label :status, "非公開" %>
</div>
<div>
  <%= form.submit "新增文章"%>
</div>
<% end %>